**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.pytest_cache
**/.settings
**/.toolstarget
.Ds_Store
**/.github
**/*.*proj.user
**/build_kivy_deps.sh
**/*.log
tmp/*
__pycache__/*
**/*.dbmdl
**/*.jfm
**/bin
/bin/
**/charts
**/.gitattributes
**/node_modules
**/.cosine  
**/npm-debug.log
**/.vscode
**/.vs
**/.log
**/sweep.yaml
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Include necessary files (Should not be ignored)
!/main.py
!/buildozer.spec