**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.pytest_cache
**/.settings
**/.toolstarget
**/.vs
**/.github
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts

**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/.cosine  
**/npm-debug.log
**/.vscode
**/.vs
**/.log
**/sweep.yaml
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
