* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.svg binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.webm binary
*.mov binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.bz2 binary
*.7z binary
*.xml text
*.json text
*.yaml text
*.yml text
*.toml text
*.ini text
*.cfg text
*.conf text
*.md text
*.rst text
