blinker==1.7.0
buildozer==1.5.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.6
distlib==0.3.8
docutils==0.20.1
ffpyplayer==4.5.1
filelock==3.13.1
Flask==3.0.0
fonttools==4.47.0
greenlet==3.0.2
gunicorn==20.1.0
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Kivy @ https://github.com/kivy/kivy/archive/master.zip#sha256=1c703d9a790ad4befd636041db53574ac93c7002277a8a86d605e3c3db99c98c
Kivy-examples==2.2.1
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
pandas==2.1.4
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
pluggy==1.3.0
plyer==2.1.0
ptyprocess==0.7.0
Pygments==2.17.2
pyjnius==1.6.1
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
sh==2.0.6
six==1.16.0
SQLAlchemy==2.0.23
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.25.0
Werkzeug==3.0.1
